.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background-color: rgb(40, 33, 16);
	text-align: center;
}

.modal__content {
	margin: 4rem;
	padding: 2rem;
	background-color: aliceblue;
}
